@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono";
  background-color: #11111b;
  color: #c0caf5;
}

#container {
  margin: auto;
  max-width: 1080px;
}

h2 {
  margin-top: 96px;
  padding-bottom: 12px;
}

p {
  color: #a9b1d6;
}

a {
  color: #c0caf5;
  text-decoration: none;
}

a:hover {
  color: #bb9af7;
}

img {
  pointer-events: none;
  user-select: none;
}

strong {
  color: #bb9af7;
}

strong > a {
  color: #bb9af7;
}

.hashtag {
  color: #bb9af7;
}

.text {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.text::before {
  content: "";
  flex-shrink: 0;
  height: auto;
  align-self: stretch;
  width: 3px;
  border-radius: 100px;
  background-color: #bb9af7;
}

#media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 4px;
  gap: 16px;
}

#media > a {
  font-size: 18px;
}

#media::before,
#media::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  border-radius: 100px;
  background-color: #c0caf5;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #11111b;
}

header h1 {
  margin: 0;
  font-size: 48px;
}

header h1:hover {
  color: #c0caf5;
}

header h2 {
  margin: 0;
  font-size: 16px;
}

nav {
  margin-left: auto;
}

nav > a {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
}

#lang {
  display: inline-flex;
  justify-content: space-evenly;
}

label {
  margin-right: 3px;
  margin-left: 15px;
  color: #414868;
}

select {
  margin: 0;
  padding-top: 0;
  border: none;
  background-color: #11111b;
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  color: #414868;
}

#hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#hero-greeting {
  max-width: 420px;
}

#hero-greeting > h1 {
  margin: 0;
}

#hero-greeting i {
  margin-right: 12px;
}

#hero-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-photo > * {
  margin: 0;
}

#hero-photo > img {
  width: 500px;
}

#working-on {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 410px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: -10px 8px 0 black;
  background-color: #1a1b26;
  text-align: center;
  font-style: italic;
  color: #c0caf5;
}

#working-on i {
  margin-right: 12px;
  font-size: 22px;
  color: #bb9af7;
}

main h2::after {
  content: "";
  display: block;
  flex-grow: 1;
  margin-top: 10px;
  height: 3px;
  border-radius: 100px;
  background-color: #bb9af7;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

#project-list > div {
  width: 300px;
  padding: 12px;
  border-radius: 4px;
  background-color: #1a1b26;
  /* box-shadow: -8px 6px 0 black; */
}

#project-list img {
  width: 300px;
  height: 200px;
  margin-bottom: 12px;
}

#project-list h4 {
  margin: 8px 0 8px 0;
  font-size: 18px;
}

#project-list p {
  margin: 0;
  font-size: 14px;
}

.project-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px;
  margin-top: 14px;
  font-size: 18px;
}

#skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

#skills-categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-box {
  height: fit-content;
  max-width: 280px;
  border-radius: 4px;
  background-color: #1a1b26;
}

.skill-box > h3 {
  margin: 0;
  padding: 8px;
  color: #a9b1d6;
}

.skill-box > div {
  padding: 10px;
}

.skillSet {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

#skills-progression {
  width: 700px;
  height: 556px;
  background-color: #1a1b26;
}

.skillSet > span,
#project-tech > span {
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
}

#project-tech {
  display: flex;
  flex-wrap: wrap;
}

#project-tech > span {
  margin: 0 6px 6px 0;
  font-size: 12px;
}

.tech-javascript {
  color: #ff9e64;
}

.tech-typescript {
  color: #7aa2f7;
}

.tech-react {
  color: #7dcfff;
}

.tech-nodejs {
  color: #9ece6a;
}

.tech-python {
  color: #e0af68;
}

.tech-html {
  color: #f7768e;
}

.tech-css {
  color: #2ac3de;
}

.tech-tailwindcss {
  color: #b4f9f8;
}

.tech-postgresql {
  color: #7dcfff;
}

.tech-neovim {
  color: #9ece6a;
}

.tech-vscode {
  color: #7aa2f7;
}

.tech-linux {
  color: #1793d1; /* cor Arch Linux */
}

.tech-figma {
  color: #ff7262;
}

.tech-git {
  color: #f34f29;
}

.tech-docker {
  color: #2496ed;
}

.tech-github {
  color: #f5f5f5;
}

#contact a {
  font-size: 20px;
}

#contact i {
  font-size: 16px;
}

footer > p {
  margin: 96px 0 0 0;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  background-color: #000000;
}

footer i {
  margin-right: 10px;
}
